build/
.classpath
.project
.settings/
*.class
war/WEB-INF/classes/
war/WEB-INF/appengine-generated/
*.api
endpoint-libs/
war/WEB-INF/*.discovery

# Ignore GAE/JDO/JPA/SDK jars
war/WEB-INF/lib/appengine-*
war/WEB-INF/lib/asm-4.0.jar
war/WEB-INF/lib/datanucleus*
war/WEB-INF/lib/geronimo-*
war/WEB-INF/lib/jdo-api-*
war/WEB-INF/lib/jsr107cache-*
war/WEB-INF/lib/jta-*
war/WEB-INF/lib/appengine-jsr107cache-*
